[Desktop Entry]
Type=Application
Name=NoMachine Connection
Exec=/bin/sh -lc "exec ~/.local/bin/nomachine-client --session %f"
Icon=NoMachine-desktop
Terminal=false
NoDisplay=true
MimeType=application/x-nx-session;
