[Desktop Entry]
Type=Application
Name=NoMachine Connection
Exec=/bin/sh -lc "exec \"\\$HOME/.local/bin/nomachine-client\" --session \"\\$1\"" sh %f
Icon=NoMachine-desktop
Terminal=false
NoDisplay=true
MimeType=application/x-nx-session;
