[Desktop Entry]
Name=Obsidian
Comment=Knowledge base
Exec=/opt/Obsidian/obsidian --disable-features=WaylandWpColorManagerV1 %U
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=md.Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
