[Unit]
Description=Open a new Obsidian window on the current virtual desktop

[Service]
Type=exec
ExecStart=/opt/Obsidian/obsidian-cli command id=workspace:new-window
