[Unit]
Description=Copy the active window immediately

[Service]
Type=exec
Environment=QT_QPA_PLATFORM=wayland
ExecStart=%h/.local/bin/dot-capture-active-window
