[Unit]
Description=Open the active Obsidian note on the current virtual desktop

[Service]
Type=exec
ExecStart=/opt/Obsidian/obsidian-cli command id=workspace:open-in-new-window
