[Desktop Entry]
Type=Application
Name=RustDesk
Comment=Connect to another computer with RustDesk
Exec=/bin/sh -lc "exec ~/.local/bin/rustdesk"
Icon=rustdesk
Terminal=false
Categories=Network;RemoteAccess;
StartupWMClass=rustdesk
